body {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://images.pexels.com/photos/1363876/pexels-photo-1363876.jpeg?cs=srgb&dl=pexels-travis-blessing-1363876.jpg&fm=jpg");
}

.div1 {
    margin-top: 180px;
    text-align: center;
    font-size: 70px;
    color: rgb(250, 237, 209);
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 100px;
    text-align: center;
    font-size: 18px;
    color: white;
}

#DD {
    text-align: center;
    color: rgb(245, 241, 241);
    font-size: 40px;
}